/*video style for landing page*/


.header{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: white;
  top: 0;
  margin: 0;
  overflow: hidden;
}
.navigation-page{
  padding-top: 7px;
}

#landing-video{
  z-index: -2;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

.button /* we still need to figure out how to make the button latch onto the logo so it sits right under it no matter screen size. */{
    z-index: 1;
    width: 90px; /* width of button */
    height: 25px; /* height of button */
    font-size: 8px;
    align: center;

    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.logo{
    display: flex;
    justify-content: center;
    align-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


#landing-page{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

#project-info{
  position: flex;
  margin-left:auto;
          margin-right:auto;
          height:auto;
          width:auto;
}


#navpage a:hover, #navpage a:active {
background-color: grey;

}

  #navpage {
  display:flex;
  flex-wrap:wrap;
  align-content: flex-end;
  justify-content: space-between;

  }

h1 {
  color: black;
  font-family: Helvetica, serif;
  font-size: 35px;
  text-align: center;

}

.container {
  position: relative;
  text-align: center;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

/* Top right text story 1*/
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

#text {
  max-width: 1000px;
  min-width: 80px;
  margin: auto;
}







/*


  /*keep all style above this. These are the changes for different sizes

#nav{
  display: flex;
  flex-direction: column;
}

@media (min-width: 599px){
  #nav{
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 799px){
  #nav{
    flex-direction: row;
    justify content: space-between;
  }
*/


}
