/*video style for landing page*/


.header{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: white;
  top: 0;
  margin: 0;
}
.navigation-page{
  padding-top: 7px;
}


#landing-video{
  z-index: -2;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-size:cover;
  opacity: rgba(255, 0, 0, 75); /*lizzie says this is a way to do it but not working yet*/
}

.button {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px; /* width of button */
    height: 30px; /* height of button */
}
/*
.logo{
display: flex;
justify-content: center;
}
*/ 

  /*keep all style above this. These are the changes for different sizes

#nav{
  display: flex;
  flex-direction: column;
}

@media (min-width: 599px){
  #nav{
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 799px){
  #nav{
    flex-direction: row;
    justify content: space-between;
  }
*/


}
