/*video style for landing page*/

.container {
  position: relative;
  text-align: left;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

/* Top right text story 1*/
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.fire-color {
    color: white;
    position: absolute;
    top: 235px;
    left: 16px;
}

#text {
  max-width: 1000px;
  min-width: 80px;
  margin: auto;
  font-weight: lighter;
  font-style: Helvetica, serif;
  font-size: 16px;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: white;
  top: 0;
  margin: 0;
  overflow: hidden;
  z-index:5;

}
.navigation-page{
  padding-top: 7px;
}

#landing-page{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}


#landing-video{
  z-index: -2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.button /* we still need to figure out how to make the button latch onto the logo so it sits right under it no matter screen size. */{
    /*z-index: 1;*/
    width: 90px; /* width of button */
    height: 25px; /* height of button */
    font-size: 8px;
    align: center;
    align-self: center;
    /*position: fixed;*/
    margin: 0 auto;
    /*left: 0;
    right: 0;
    top: 0;
    bottom: 0;*/
}

.logo{
    display: flex;
    flex-flow: column;
    list-style-type: none;
    align-content: center;
    width: 300px;
    margin:0 auto;
    justify-content: flex-end;
    padding-top: 50px;
}


#project-info{
  width: 80%;
  padding-left:15px;
}
/*
#overview-video{
  width: 100%;
  height: auto;
}*/

#h3{
  text-align: center;
  font-size: 13px;
  color: black;
  font-family: Helvetica, serif;
}


/*#navpage a:hover, #navpage a:active {
background-color: grey;
}*/

#navpage {
  display:flex;
  flex-wrap:wrap;
  align-content: flex-end;
  justify-content: space-between;
  }

h1 {
  color: black;
  font-family: Helvetica, serif;
  font-size: 35px;
  text-align: center;

}

#video-embed{
  width:384px;
  height:216px;
}



/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  .container {
    font-size: 70px;
  }
  .logo{
    max-width: 400px;
  }
  #video-embed{
    width:640px;
    height:360px;
  }
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (min-width: 699px) {
  .container {
    font-size: 20px;
  }
  .logo{
    max-width: 500px;
  }
  #video-embed{
    align-items: center;
    width:800px;
    height:450px;
  }
}

/*footer*/

.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: red;
 color: white;
 text-align: center;
}
