/*video style for landing page*/

.container {
  position: relative;
  width:100%;
  height:100%;
  min-height:320px;
  text-align: left;
  color: black;
  font-size: 35px;
  font-weight: bold;
  margin:0 auto;
  display:flex;
}

/* Top right text story 1*/
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}



/*.leadimage{
  width:750%;
  height:50%;
}

/*.leadimage img{
  width:100%;
  margin:0 auto;
  align-self: center;
  position:relative;
  top: 50px;
}

/*.fire-color {
    color: black;
    position: left;
    top: 0;
    left: 0;
    font-size: 20px;
    padding-top:50%;
    padding-left:10%;*/
}

#text {
  max-width: 1000px;
  min-width: 80px;
  margin: auto;
  font-weight: lighter;
  font-style: Helvetica, serif;
  font-size: 16px;
}

.header{
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  background-color: white;
  top: 0;
  margin: 0;
  overflow: hidden;
}

.navigation-page{
  padding-top: 7px;
}

.title{
  padding-top: 15px;
  align-self: flex-start;
  position: fixed;
  top: 0;
  left:5px;
}

#landing-page{
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

#landing-video{
  z-index: -2;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.button{
    /*z-index: 1;*/
    width: 90px; /* width of button */
    height: 25px; /* height of button */
    font-size: 8px;
    /*position: fixed;*/
    margin: 0 auto;
}

.logo{
    list-style-type: none;
    width: 300px;
    margin:0 auto;
    padding-top: 200px;
    text-align: center;
}

#project-info{
  width: 80%;
  padding-left:50px;
  padding-right:50px;
display: flex;
flex-direction: column;
align-items:center;
}
/*
#overview-video{
  width: 100%;
  height: auto;
}*/

h3{
  text-align: center;
  font-size: 13px;
  color: black;
  font-family: 'Noto Serif JP', serif;
}


/*#navpage a:hover, #navpage a:active {
background-color: grey;
}*/

#navpage {
    display: grid;
		grid-template-columns:2fr 2fr 2fr;
		grid-gap:3px;
		text-align: center;
		grid-template-areas:
			"d . e"
			"f . g"
      "h . i";
    margin-left: 15px;
  }

h1 {
  color: black;
  font-family: 'Noto Serif JP', serif;
  font-size: 40px;
  text-align: center;
  padding-top: 45px;
}
h2{
  text-align: center;
  font-size: 25px;
}

#video-embed{
  width:384px;
  height:216px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 1rem;/* Footer height */
}

#footer{
  background: #304779;
  width: 100%;
  align-content: center;
  }

  #footerlanding{
    background: #304779;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right:0px;
    align-content: center;
    }

.footerinfo{
  list-style-type: none;
  display:flex;
  justify-content: space-between;
}

.missourianfooter{
  padding-top: 30px;
  padding-right: 50px;
}

.craig {
text-align: center;
font-size: 100px;
}

.intros {
text-align: left;
font-size: 30px;

}

.teaser{
  text-align: center;
  color:black;
  font-size: 10px;
  font: helvetica, serif;
}

#readme{
  margin: 10px;
  margin-left: 30px;

}

.storybody{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.text-about{
  margin: 100px;
}


/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {
  .container {
    font-size: 70px;
  }
  .logo{
    max-width: 400px;
  }
  #video-embed{
    width:640px;
    height:360px;
  }

  figure{
    width:100%;
  }


}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (min-width: 699px) {
  .container {
    font-size: 20px;
  }
  .logo{
    max-width: 500px;
  }
  #video-embed{
    align-items: center;
    width:800px;
    height:450px;
  }

  figure{
    width:65%;
  }



}

/*footer
.footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 background-color: red;
 color: white;
 text-align: center;
} */


/*footer*/
